<!DOCTYPE HTML>
<html>
<head>
    <title>Teleportation App!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	Available locations: 
<table>
	<thead>
    <tr>
      <th>City</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="teleportLocation: ${teleportLocations}">
      <td th:text="${teleportLocation.city}">N/A</td>
      <td th:text="${teleportLocation.country}">N/A</td>
      <td th:text="${teleportLocation.geographicCoordinates.latitude}">N/A</td>
      <td th:text="${teleportLocation.geographicCoordinates.longitude}">N/A</td>
    </tr>
  </tbody>
</table>
</body>
</html>